{% load static %}
{% load compress %}
{% load is_active %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/app.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
</head>
<body>
<header class="container">
    <a class="logo" href="/">
        <img src="{% static 'images/WSR.png' %}" alt="Logo WSR">
    </a>
    <nav class="navbar">
        <a class="link {% is_active request 'home' %}" href="{% url 'home' %}">Page d’accueil</a>
        <a class="link {% is_active request 'races_types' %}" href="{% url 'races_types' %}">Épreuves</a>
        <a class="link {% is_active request 'vehicles' %}" href="{% url 'vehicles' %}">Nos Véhicules</a>
        <a class="link {% is_active request 'seasons' %}" href="{% url 'seasons' %}">Anciennes saisons</a>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="container-fluid bg-blurry-trans-black">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <img src="{% static 'images/WSR.png' %}" alt="Logo WSR">
                </div>
            </div>
            <div class="col">
                <p>Copyright 2023 - World Series Racing ou “WSR” est une marque déposée par Codemasters. <br>Ceci est un
                    projet
                    à titre scolaire.</p>
            </div>
            <div class="col">
                <a href="https://www.codemasters.com/" target="_blank">
                    <img src="{% static 'images/codemastersracing.png' %}" alt="Logo Codemasters" width="128">
                </a>
            </div>
            <div class="col">
                <p>Juin 2023 - Sofiane LASRI-TRIENPONT<br><a href="/admin">Connexion à l'administration</a></p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    // Si le footer n'est pas tout en bas de la page car il y a peu de contenu
    // On le place tout en bas de la page
    function footerPosition() {
        const footer = document.querySelector("footer");
        const windowHeight = window.innerHeight;
        const bodyHeight = document.body.offsetHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = 'absolute';
            footer.style.bottom = '0';
        } else {
            footer.style.position = 'relative';
            footer.style.bottom = '0';
        }
    }

    footerPosition();

    window.addEventListener('resize', footerPosition);
</script>
{% block javascripts %}{% endblock %}
</body>
</html>