// Usage personnel uniquement
@font-face {
  font-family: "OPTIAlpine-EightySeven";
  src: url("../fonts/OPTIAlpine-EightySeven.eot"); /* IE9*/
  src: url("../fonts/OPTIAlpine-EightySeven.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/OPTIAlpine-EightySeven.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/OPTIAlpine-EightySeven.woff") format("woff"), /* chrome、firefox */
  url("../fonts/OPTIAlpine-EightySeven.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/OPTIAlpine-EightySeven.svg#OPTIAlpine-EightySeven") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Eurostile MN";
  src: url("../fonts/Eurostile MN Extended Bold.ttf") format("truetype");
}